body {
  font-family: Arvo;
}

.nav-item {
  display: block;
}

.nav-item::marker {
  display: list-item;
  list-style: none;
}

#export-btn {
  margin-right: 1rem;
  width: 40px;
}

#export-btn::after {
  display: none;
}

#new-btn::after {
  display: none;
}

#options-dropdown {
  height: 40px;
  width: 40px;
}

.navbar-nav {
  flex-direction: inherit;
}

.navbar {
  justify-content: flex-start;
}

#network-popUp {
  display: none;
  position: absolute;
  top: 350px;
  left: 170px;
  z-index: 299;
  width: 250px;
  background-color: #f9f9f9;
  border-style: solid;
  border-width: 3px;
  border-color: #5394ed;
  padding: 10px;
  text-align: center;
}

.cm-s-monokai span.cm-variable {
  color: #e6db74;
}

.dg.main .close-button {
  background-color: rgba(0, 0, 0, 0.7);
}

.dg.main .close-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.dg li:not(.folder) {
  background: rgba(0, 0, 0, 0.7);
}

.dg li.title {
  background: rgba(0, 0, 0, 0.7) url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
}

#pg-area {
  height: 100%;
}

#input-area {
  left: 0;
  width: 50%;
}

#config-area {
  flex: 1;
  height: 0%;
  position: relative;
}

#graph-pane {
  flex: 1;
  position: relative;
}

#metagraph-pane {
  flex: 1;
  position: relative;
}

#metagraph-modal-graph {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
}

#graph {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
}

.ui-resizable-handle {
  background: #cccccc;
}

#main-area {
  display: inline-flex;
  width: 100%;
  height: calc(100vh - 50px);
}

.float-btn {
  position: absolute;
}

.double-byte-highlight {
  border: 2px solid red;
}

#embed-btn {
  right: 110px;
}

#import-input {
  display: none;
}

#options-btn {
  z-index: 996;
  background: transparent;
  border: none;
  bottom: 20px;
  right: 20px;
}

#reset-config-btn {
  width: 40px;
  height: 40px;
  z-index: 995;
  background: transparent;
  border: none;
  top: 20px;
  right: 20px;
  line-height: 3.3;
}

#zoom-fit-btn {
  z-index: 994;
  background-color: transparent;
  position: absolute;
  color: #272822;
  border: 0px;
  top: 4.4rem;
  right: 1rem;
}

#switch-scc-dropdown {
  position: absolute;
  z-index: 994;
  background-color: transparent;
  color: #272822;
  border: 0px;
  bottom: 60px;
  right: 40px;
}

body {
  overflow: hidden;
}

#options-dropdown {
  padding: 0;
}

span .highlighted {
  background: rgba(200, 200, 0, 0.5);
}

span .syntax-error {
  background: rgba(255, 0, 0, 0.7);
  border-bottom: red;
}

span .syntax-error-line {
  background: rgba(255, 0, 0, 0.4);
}

span .syntax-warning-line {
  background: rgba(255, 96, 0, 0.3);
}

#header {
  background: #131516 !important;
  min-height: 50px;
}

.column-mode-btn {
  padding: 1px 12px 4px 12px;
}

.toast-top-right {
  top: 70px;
}

.dropdown-toggle {
  -webkit-appearance: none;
  border-radius: 0;
}

.dropdown-item, .dropdown-item input, .dropdown-item label {
  cursor: pointer;
}

.dropdown-menu {
  padding: 0.9rem 0;
  border-radius: 0.5rem;
  background-color: #161717;
}

.dropdown-menu .dropdown-item {
  padding-bottom: 0.3rem;
  color: #fff;
}

.dropdown-menu .dropdown-item input {
  padding: 0.3rem 0.6rem;
  border: 1px solid #cfcfcf;
  border-radius: 0.2rem;
  margin: 0.3rem 0;
}

.dropdown-menu .dropdown-menu[data-bs-popper] {
  margin-top: 1rem;
}

.dropdown-menu .dropdown-item.active {
  background: #50a1ff;
  color: black;
}

.dropdown-menu .dropdown-item.active:hover {
  background: #3c7fcb;
}

.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover {
  background-color: #252b31;
}

.btn-secondary {
  background-color: #fff;
  border-color: #fff;
}

.btn-secondary span {
  color: #161717;
}

.btn-secondary:hover {
  background-color: #ccd2dc;
  border-color: #ccd2dc;
}

.delete-history-btn {
  background-color: #4c4a5e;
  border-color: #4c4a5e;
}

.delete-history-btn span {
  color: #fff;
}

.delete-history-btn:hover {
  background-color: #2e2d3a;
  border-color: #2e2d3a;
}

#history-dropdown.dropdown-toggle::after {
  display: inline-block;
  position: absolute;
  float: right;
  right: 10px;
  margin-top: 8px;
}

.history-item {
  margin-right: 50px;
}

.CodeMirror-hints {
  z-index: 999 !important;
}

@font-face {
  font-family: 'Noto Sans Mono CJK JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./NotoSansMonoCJKjp-VF.ttf) format("truetype");
}

.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
  font-family: 'Noto Sans Mono CJK JP', monospace;
}

.CodeMirror-scroll {
  padding: 0;
}

.dropdown-menu {
  max-height: 600px;
  overflow-y: auto;
}

.tooltip-sandbox {
  pointer-events: none;
}

.btn-check + .btn-outline-secondary .edit-off, .btn-check + .btn-outline-secondary .edit-off, .btn-outline-secondary .edit-off, .btn-outline-secondary.dropdown-toggle.show .edit-off, .btn-outline-secondary .edit-off {
  display: block;
}

.btn-check + .btn-outline-secondary .edit, .btn-check + .btn-outline-secondary .edit, .btn-outline-secondary .edit, .btn-outline-secondary.dropdown-toggle.show .edit, .btn-outline-secondary .edit {
  display: none;
}

.btn-check:active + .btn-outline-secondary, .btn-check:checked + .btn-outline-secondary, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show, .btn-outline-secondary:active {
  background-color: #353d44;
}

.btn-check:active + .btn-outline-secondary .edit-off, .btn-check:checked + .btn-outline-secondary .edit-off, .btn-outline-secondary.active .edit-off, .btn-outline-secondary.dropdown-toggle.show .edit-off, .btn-outline-secondary:active .edit-off {
  display: none;
}

.btn-check:active + .btn-outline-secondary .edit, .btn-check:checked + .btn-outline-secondary .edit, .btn-outline-secondary.active .edit, .btn-outline-secondary.dropdown-toggle.show .edit, .btn-outline-secondary:active .edit {
  display: block;
}

#backendUrlDropdown {
  cursor: default;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.material-symbols-outlined {
  color: #fff;
  font-size: 20px;
  display: block;
  vertical-align: middle;
}

.label {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: inline-table;
}

.fit-screen {
  color: #000;
}

#filter-div {
  z-index: 994;
  background-color: transparent;
  position: absolute;
  top: 10.4rem;
  right: 1rem;
  width: 340px;
}

#filter-div .node-filter-row, #filter-div .edge-filter-row {
  margin-top: 10px;
}

#filter-div input, #filter-div select {
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
}

#filter-div .filter-min, #filter-div .filter-max {
  height: 30px;
  width: 60px;
}

#filter-div .filter-prop {
  height: 30px;
  width: 150px;
}

.filter-btn {
  width: 30px;
  height: 30px;
  padding: 0;
}

.add-node-filter-btn {
  margin-left: 30px;
}

.modeless {
  overflow: hidden;
  top: 10%;
  left: auto;
  bottom: auto;
  right: auto;
  pointer-events: none;
}

.modeless .modal-dialog {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.modeless .CodeMirror {
  min-height: 600px;
  border: 1px solid #444;
}

.extraction-bubble {
  background-color: #b61717;
  color: white;
  border-radius: 5px;
  padding: 5px;
  z-index: 10000;
}

.extraction-bubble:hover {
  opacity: 0.3;
}
